.container {
  display: flex;
  justify-content: center;
  align-items: center;
  & .link {
    padding: 18px;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: lawngreen;
    }
  }
}