@import '@/styles/styles.scss';
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .main {
    height: calc(100vh - 104px);
    overflow-y: auto;
    @include scrollbar(#CCC, tomato);
  }
}